<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://startr.style/style.css">


		<title>Blocks Template</title>

	</head>
	<bodyhttps style="--bgc:oklch(91.9% 0.016 262); --ff:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; --weight:100; --pl:24px; --pr:24px; --bgc:fixed; --bgc:cover; --bgc:no-repeat; background-image: url(" ://images.unsplash.com/photo-1523742238290-adf3b54101bf?w=1800')">

		<header style="--maxw:36rem; --pt:80px; --pb:80px; --c:center;"  class="mx-auto">
			<a style="--d:block; --size:1.5rem; --lh:2rem; --mb:48px;" href="#">Company Name</a>

			<ul style="--d:flex; --jc:center; --tt:uppercase; --size:0.75rem; --lh:1rem;" >
				<li>
					<a style="--ml:16px; --mr:16px;" href="#" class="hover:text-gray-600">Home</a>
				</li>
				<li>
					<a style="--ml:16px; --mr:16px; --c:gray-600;" href="#">About</a>
				</li>
				<li>
					<a style="--ml:16px; --mr:16px;" href="#" class="hover:text-gray-600">Blog</a>
				</li>
				<li>
					<a style="--ml:16px; --mr:16px;" href="#" class="hover:text-gray-600">Contact</a>
				</li>
			</ul>
		</header>


		<div style="--maxw:72rem; --bgc:white; --pt:80px; --pb:80px; --pl:48px; --pr:48px; --pl-lg:96px; --pr-lg:96px; --shadow:0 20px 25px -5px rgb(0,0,0,0.1), 0 10px 10px -5px rgb(0,0,0,0.04); --mb:96px;"  class="mx-auto">

			<div style="--mb:48px;" >
				<h1 style="--size:1.875rem; --lh:2.25rem; --size-lg:2.25rem; --lh-lg:2.5rem; --c:center; --mb:24px;"  class="tracking-wider">About Us</h1>

				<p style="--size:0.875rem; --lh:1.25rem; --mb:24px; --maxw:36rem; --c:center;"  class="tracking-wide leading-relaxed mx-auto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br style="--d:none; --d-md:block;" />Aenean commodo ligula eget dolor.</p>

				<p style="--size:0.75rem; --lh:1rem; --c:gray-600; --maxw:36rem; --c:center;"  class="tracking-wide leading-loose mx-auto">Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum.</p>
			</div>


			<div style="--d:flex; --fw:wrap;"  class="-mx-2">
				
				<div style="--w:33.333333%; --p:8px;" >
					<a style="--d:block; --mb:32px; --bgc:black;" href="#" class="hover:bg-gray-700">
						<img style="--w:100%; --h:auto; --op:0.75;" src="https://images.unsplash.com/photo-1499175898579-d743fea6e7dc?w=800"  />
					</a>
					<a style="--d:block; --size:1.25rem; --lh:1.75rem; --c:center;" href="#">Fashion &amp; Beauty</a>
				</div>
				
				<div style="--w:33.333333%; --p:8px;" >
					<a style="--d:block; --mb:32px; --bgc:black;" href="#" class="hover:bg-gray-700">
						<img style="--w:100%; --h:auto; --op:0.75;" src="https://images.unsplash.com/photo-1477064996809-dae46985eee7?w=800"  />
					</a>
					<a style="--d:block; --size:1.25rem; --lh:1.75rem; --c:center;" href="#">Lifestyle</a>
				</div>
				
				<div style="--w:33.333333%; --p:8px;" >
					<a style="--d:block; --mb:32px; --bgc:black;" href="#" class="hover:bg-gray-700">
						<img style="--w:100%; --h:auto; --op:0.75;" src="https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?w=800"  />
					</a>
					<a style="--d:block; --size:1.25rem; --lh:1.75rem; --c:center;" href="#">Travel</a>
				</div>

			</div>


		</div>

		<div style="--bgc:white; --pl:24px; --pr:24px; --pt:48px; --pb:48px;"  class="-mx-6">
			
			<div style="--c:gray-800; --size:0.875rem; --lh:1.25rem; --d:flex; --jc:space-between;"  class="mx-auto container">
				<span>Powered by <a style="--c:black;" href="https://digizu.co.uk">Digizu</a></span>
				<span>&copy; copyright 2019</span>
			</div>

		</div>
		

	</body>
</html>
