<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://startr.style/style.css">


		<title>Blog</title>

	</head>
	<body>

		<!-- header -->
		<header style="--w:100%; --pl:24px; --pr:24px; --bgc:white;" >
			<div style="--maxw:56rem; --d-md:flex; --jc:space-between; --ai:center;"  class="container mx-auto">
				<a style="--d:block; --pt:24px; --pb:24px; --w:100%; --ta:center; --c-md:left; --w-md:auto; --c:gray-dark; --td:none; --d:flex; --jc:center; --ai:center;" href="#">
					Your Logo
				</a>
				<div style="--w:100%; --w-md:auto; --ta:center; --c-md:right;" >
					<!-- Login / Register -->
				</div>
			</div>
		</header>
		<!-- /header -->

		<!-- nav -->
		<nav style="--w:100%; --bgc:white; --pt-md:0; --pl:24px; --pr:24px; --pos:relative; --z:20; --bc:t; --bc:b; --bc:gray-light;" >
			<div style="--maxw:56rem; --d-md:flex; --jc:space-between; --ai:center; --size:0.875rem; --lh:1.25rem; --c-md:md; --jc-md:start;"  class="container mx-auto">
				<div style="--w:100%; --w-md:50%; --ta:center; --c-md:left; --pt:16px; --pb:16px; --d:flex; --fw:wrap; --jc:center; --ai:stretch; --jc-md:start; --ai-md:flex-start;" >
					<a style="--pl:8px; --pr:8px; --pl-md:0; --mr-md:12px; --pr-md:12px; --c:oklch(47.318% 0.036 262); --td:none; --bc-md:r; --bc:gray-light;" href="#">Home</a>
					<a style="--pl:8px; --pr:8px; --pl-md:0; --mr-md:12px; --pr-md:12px; --c:oklch(47.318% 0.036 262); --td:none; --bc-md:r; --bc:gray-light;" href="#">Products</a>
					<a style="--pl:8px; --pr:8px; --pl-md:0; --mr-md:12px; --pr-md:12px; --c:oklch(47.318% 0.036 262); --td:none; --bc-md:r; --bc:gray-light;" href="#">About Us</a>
					<a style="--pl:8px; --pr:8px; --pl-md:0; --mr-md:12px; --pr-md:12px; --c:oklch(47.318% 0.036 262); --td:none; --bc-md:r; --bc:gray-light;" href="#">News</a>
					<a style="--pl:8px; --pr:8px; --pl-md:0; --mr-md:12px; --pr-md:12px; --c:gray-darkest; --td:none;" href="#">Contact</a>
				</div>
				<div style="--w:100%; --w-md:50%; --ta:center; --c-md:right;" >
					<!-- extra links -->
				</div>
			</div>
		</nav>
		<!-- /nav -->

		<!-- blog -->
		<div style="--w:100%; --bgc:white;" >

			<!-- title -->
			<div style="--ta:center; --pl:24px; --pr:24px; --pt:48px; --pb:48px; --mb:24px; --bgc:gray-100; --bc:b;" >
				<h1 style="--size:1.25rem; --lh:1.75rem; --size-md:2.25rem; --lh-md:2.5rem; --pb:16px;" >Blog</h1>
				<p style="--c:gray-dark;"  class="leading-loose">
					Catch up on the latest news and updates.
				</p>
			</div>
			<!-- /title -->

			<div style="--maxw:56rem; --d-md:flex; --ai:flex-start; --pt:32px; --pb:32px; --pl:48px; --pr:48px; --pl-md:0; --pr-md:0;"  class="container mx-auto">

				<!-- articles -->
				<div style="--w:100%; --pr-md:48px; --mb:48px;" >
					<article style="--mb:48px;" >
						<h2 style="--mb:16px;" >
							<a style="--c:black; --size:1.25rem; --lh:1.75rem; --size-md:1.5rem; --lh-md:2rem; --td:none;" href="#" class="hover:underline">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</a>
						</h2>

						<div style="--mb:16px; --size:0.875rem; --lh:1.25rem; --c:oklch(47.318% 0.036 262);" >
							by <a style="--c:oklch(47.318% 0.036 262);" href="#">Joe Bloggs</a> on 19th March 2019
							<span style="--weight:700; --ml:4px; --mr:4px;" > | </span>
							<a style="--c:oklch(47.318% 0.036 262);" href="#">Uncategorised</a>
							<span style="--weight:700; --ml:4px; --mr:4px;" > | </span>
							<a style="--c:oklch(47.318% 0.036 262);" href="#">2 Comments</a>
						</div>

						<p style="--c:oklch(47.318% 0.036 262);"  class="leading-normal">
							Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>

					</article>

					<article style="--mb:48px;" >
						<h2 style="--mb:16px;" >
							<a style="--c:black; --size:1.25rem; --lh:1.75rem; --size-md:1.5rem; --lh-md:2rem; --td:none;" href="#" class="hover:underline">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</a>
						</h2>

						<div style="--mb:16px; --size:0.875rem; --lh:1.25rem; --c:oklch(47.318% 0.036 262);" >
							by <a style="--c:oklch(47.318% 0.036 262);" href="#">Joe Bloggs</a> on 19th March 2019
							<span style="--weight:700; --ml:4px; --mr:4px;" > | </span>
							<a style="--c:oklch(47.318% 0.036 262);" href="#">Uncategorised</a>
							<span style="--weight:700; --ml:4px; --mr:4px;" > | </span>
							<a style="--c:oklch(47.318% 0.036 262);" href="#">2 Comments</a>
						</div>

						<p style="--c:oklch(47.318% 0.036 262);"  class="leading-normal">
							Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>

					</article>

					<article style="--mb:48px;" >
						<h2 style="--mb:16px;" >
							<a style="--c:black; --size:1.25rem; --lh:1.75rem; --size-md:1.5rem; --lh-md:2rem; --td:none;" href="#" class="hover:underline">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</a>
						</h2>

						<div style="--mb:16px; --size:0.875rem; --lh:1.25rem; --c:oklch(47.318% 0.036 262);" >
							by <a style="--c:oklch(47.318% 0.036 262);" href="#">Joe Bloggs</a> on 19th March 2019
							<span style="--weight:700; --ml:4px; --mr:4px;" > | </span>
							<a style="--c:oklch(47.318% 0.036 262);" href="#">Uncategorised</a>
							<span style="--weight:700; --ml:4px; --mr:4px;" > | </span>
							<a style="--c:oklch(47.318% 0.036 262);" href="#">2 Comments</a>
						</div>

						<p style="--c:oklch(47.318% 0.036 262);"  class="leading-normal">
							Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>

					</article>

					<article style="--mb:48px;" >
						<h2 style="--mb:16px;" >
							<a style="--c:black; --size:1.25rem; --lh:1.75rem; --size-md:1.5rem; --lh-md:2rem; --td:none;" href="#" class="hover:underline">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</a>
						</h2>

						<div style="--mb:16px; --size:0.875rem; --lh:1.25rem; --c:oklch(47.318% 0.036 262);" >
							by <a style="--c:oklch(47.318% 0.036 262);" href="#">Joe Bloggs</a> on 19th March 2019
							<span style="--weight:700; --ml:4px; --mr:4px;" > | </span>
							<a style="--c:oklch(47.318% 0.036 262);" href="#">Uncategorised</a>
							<span style="--weight:700; --ml:4px; --mr:4px;" > | </span>
							<a style="--c:oklch(47.318% 0.036 262);" href="#">2 Comments</a>
						</div>

						<p style="--c:oklch(47.318% 0.036 262);"  class="leading-normal">
							Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>

					</article>

					<div style="--d:flex; --jc:space-between; --size:0.75rem; --lh:1rem;" >
						<a style="--bgc:gray; --c:white; --td:none; --pt:8px; --pb:8px; --pl:12px; --pr:12px; --radius:0.25rem;" href="#">Previous</a>
						<a style="--bgc:black; --c:white; --td:none; --pt:8px; --pb:8px; --pl:12px; --pr:12px; --radius:0.25rem;" href="#">Next</a>
					</div>
				</div>
				<!--/ articles -->

				<!-- sidebar -->
				<div style="--w:100%; --w-md:256px;" >
					
					<aside style="--radius:0.25rem; --shadow:0 1px 3px 0 rgb(0,0,0,0.1), 0 1px 2px 0 rgb(0,0,0,0.06); --of:hidden; --mb:24px;" >
						<h3 style="--size:0.875rem; --lh:1.25rem; --bgc:gray-100; --c:oklch(47.318% 0.036 262); --pt:12px; --pb:12px; --pl:16px; --pr:16px; --bc:b;" >Categories</h3>

						<div style="--p:16px;" >
							<ul  class="list-reset leading-normal">
								<li><a style="--c:gray-darkest; --size:0.875rem; --lh:1.25rem;" href="#">Uncategorised</a></li>
								<li><a style="--c:gray-darkest; --size:0.875rem; --lh:1.25rem;" href="#">Food &amp; Drink</a></li>
								<li><a style="--c:gray-darkest; --size:0.875rem; --lh:1.25rem;" href="#">Garden</a></li>
								<li><a style="--c:gray-darkest; --size:0.875rem; --lh:1.25rem;" href="#">Tools</a></li>
							</ul>
						</div>
					</aside>
					
					<aside style="--radius:0.25rem; --shadow:0 1px 3px 0 rgb(0,0,0,0.1), 0 1px 2px 0 rgb(0,0,0,0.06); --of:hidden; --mb:24px;" >
						<h3 style="--size:0.875rem; --lh:1.25rem; --bgc:gray-100; --c:oklch(47.318% 0.036 262); --pt:12px; --pb:12px; --pl:16px; --pr:16px; --bc:b;" >Latest Posts</h3>

						<div style="--p:16px;" >
							<ul  class="list-reset leading-normal">
								<li><a style="--c:gray-darkest; --size:0.875rem; --lh:1.25rem;" href="#">Lorem ipsum dolor sit amet.</a></li>
								<li><a style="--c:gray-darkest; --size:0.875rem; --lh:1.25rem;" href="#">Sit amet, consectetur adipisicing elit.</a></li>
								<li><a style="--c:gray-darkest; --size:0.875rem; --lh:1.25rem;" href="#">Lorem ipsum dolor sit amet.</a></li>
								<li><a style="--c:gray-darkest; --size:0.875rem; --lh:1.25rem;" href="#">Sit amet, consectetur adipisicing elit.</a></li>
							</ul>
						</div>
					</aside>

				</div>
				<!-- /sidebar -->

			</div>

		</div>
		<!-- /blog -->


		<!-- footer -->
		<footer style="--w:100%; --bgc:white; --pl:24px; --pr:24px; --bc:t;" >
			<div style="--maxw:56rem; --pt:24px; --pb:24px; --d:flex; --fw:wrap; --jc:space-between; --ai:center; --size:0.875rem; --lh:1.25rem;"  class="container mx-auto md:flex-no-wrap">
				&copy;2019 Your Company. All rights reserved.
				<div style="--pt:16px; --p-md:0; --ta:center; --c-md:right; --size:0.75rem; --lh:1rem;" >
					<a style="--c:black; --td:none;" href="#" class="hover:underline">Privacy Policy</a>
					<a style="--c:black; --td:none; --ml:16px;" href="#" class="hover:underline">Terms &amp; Conditions</a>
					<a style="--c:black; --td:none; --ml:16px;" href="#" class="hover:underline">Contact Us</a>
				</div>
			</div>
		</footer>
		<!-- /footer -->


	</body>
</html>
