<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://startr.style/style.css">


		<title>Buttons</title>

	</head>
	<body style="--bgc:gray-100;" >

		<div style="--bgc:oklch(91.9% 0.016 262); --pl:24px; --pr:24px; --pt:48px; --pb:48px;" >

			<h2 style="--ta:center; --mb:48px;" >Large Buttons</h2>

			<div style="--d:flex; --fw:wrap; --jc:space-around;"  class="container mx-auto">

				<button style="--d:block; --mb:16px; --pl:24px; --pr:24px; --pt:16px; --pb:16px; --size:1.125rem; --lh:1.75rem; --weight:700; --td:none; --bgc:oklch(48.94% 0.19 142); --c:white;"  class="hover:shadow-lg hover:shadow-lg">Large Button</button>
				<button style="--d:block; --mb:16px; --pl:24px; --pr:24px; --pt:16px; --pb:16px; --size:1.125rem; --lh:1.75rem; --weight:700; --td:none; --bgc:oklch(50.22% 0.21 27); --c:white;"  class="hover:shadow-lg">Large Button</button>
				<button style="--d:block; --mb:16px; --pl:24px; --pr:24px; --pt:16px; --pb:16px; --size:1.125rem; --lh:1.75rem; --weight:700; --td:none; --bgc:oklch(36.38% 0.13 264); --c:white;"  class="hover:shadow-lg">Large Button</button>
				<button style="--d:block; --mb:16px; --pl:24px; --pr:24px; --pt:16px; --pb:16px; --size:1.125rem; --lh:1.75rem; --weight:700; --td:none; --bgc:oklch(75.18% 0.2 99); --c:white;"  class="hover:shadow-lg">Large Button</button>
				<button style="--d:block; --mb:16px; --pl:24px; --pr:24px; --pt:16px; --pb:16px; --size:1.125rem; --lh:1.75rem; --weight:700; --td:none; --bgc:purple-600; --c:white;"  class="hover:shadow-lg">Large Button</button>

			</div>

		</div>

		<div style="--bgc:gray-100; --pl:24px; --pr:24px; --pt:48px; --pb:48px;" >

			<h2 style="--ta:center; --mb:48px;" >Medium Buttons</h2>

			<div style="--d:flex; --fw:wrap; --jc:space-around;"  class="container mx-auto">

				<button style="--d:block; --mb:16px; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem; --weight:700; --td:none; --bgc:oklch(48.94% 0.19 142); --c:white;"  class="hover:shadow-md">Medium Button</button>
				<button style="--d:block; --mb:16px; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem; --weight:700; --td:none; --bgc:oklch(50.22% 0.21 27); --c:white;"  class="hover:shadow-md">Medium Button</button>
				<button style="--d:block; --mb:16px; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem; --weight:700; --td:none; --bgc:oklch(36.38% 0.13 264); --c:white;"  class="hover:shadow-md">Medium Button</button>
				<button style="--d:block; --mb:16px; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem; --weight:700; --td:none; --bgc:oklch(75.18% 0.2 99); --c:white;"  class="hover:shadow-md">Medium Button</button>
				<button style="--d:block; --mb:16px; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem; --weight:700; --td:none; --bgc:purple-600; --c:white;"  class="hover:shadow-md">Medium Button</button>

			</div>

		</div>

		<div style="--bgc:oklch(91.9% 0.016 262); --pl:24px; --pr:24px; --pt:48px; --pb:48px;" >

			<h2 style="--ta:center; --mb:48px;" >Small Buttons</h2>

			<div style="--d:flex; --fw:wrap; --jc:space-around;"  class="container mx-auto">

				<button style="--d:block; --mb:16px; --pl:12px; --pr:12px; --pt:8px; --pb:8px; --size:0.75rem; --lh:1rem; --weight:700; --td:none; --bgc:oklch(48.94% 0.19 142); --c:white;"  class="hover:shadow">Small Button</button>
				<button style="--d:block; --mb:16px; --pl:12px; --pr:12px; --pt:8px; --pb:8px; --size:0.75rem; --lh:1rem; --weight:700; --td:none; --bgc:oklch(50.22% 0.21 27); --c:white;"  class="hover:shadow">Small Button</button>
				<button style="--d:block; --mb:16px; --pl:12px; --pr:12px; --pt:8px; --pb:8px; --size:0.75rem; --lh:1rem; --weight:700; --td:none; --bgc:oklch(36.38% 0.13 264); --c:white;"  class="hover:shadow">Small Button</button>
				<button style="--d:block; --mb:16px; --pl:12px; --pr:12px; --pt:8px; --pb:8px; --size:0.75rem; --lh:1rem; --weight:700; --td:none; --bgc:oklch(75.18% 0.2 99); --c:white;"  class="hover:shadow">Small Button</button>
				<button style="--d:block; --mb:16px; --pl:12px; --pr:12px; --pt:8px; --pb:8px; --size:0.75rem; --lh:1rem; --weight:700; --td:none; --bgc:purple-600; --c:white;"  class="hover:shadow">Small Button</button>

			</div>

		</div>

		<div style="--bgc:gray-100; --pl:24px; --pr:24px; --pt:48px; --pb:48px;" >

			<h2 style="--ta:center; --mb:48px;" >Large Pill Buttons</h2>

			<div style="--d:flex; --fw:wrap; --jc:space-around;"  class="container mx-auto">

				<button style="--d:block; --mb:16px; --pl:24px; --pr:24px; --pt:16px; --pb:16px; --size:1.125rem; --lh:1.75rem; --weight:700; --radius:9999px; --td:none; --bgc:oklch(48.94% 0.19 142); --c:white;"  class="hover:shadow-lg hover:shadow-lg">Large Button</button>
				<button style="--d:block; --mb:16px; --pl:24px; --pr:24px; --pt:16px; --pb:16px; --size:1.125rem; --lh:1.75rem; --weight:700; --radius:9999px; --td:none; --bgc:oklch(50.22% 0.21 27); --c:white;"  class="hover:shadow-lg">Large Button</button>
				<button style="--d:block; --mb:16px; --pl:24px; --pr:24px; --pt:16px; --pb:16px; --size:1.125rem; --lh:1.75rem; --weight:700; --radius:9999px; --td:none; --bgc:oklch(36.38% 0.13 264); --c:white;"  class="hover:shadow-lg">Large Button</button>
				<button style="--d:block; --mb:16px; --pl:24px; --pr:24px; --pt:16px; --pb:16px; --size:1.125rem; --lh:1.75rem; --weight:700; --radius:9999px; --td:none; --bgc:oklch(75.18% 0.2 99); --c:white;"  class="hover:shadow-lg">Large Button</button>
				<button style="--d:block; --mb:16px; --pl:24px; --pr:24px; --pt:16px; --pb:16px; --size:1.125rem; --lh:1.75rem; --weight:700; --radius:9999px; --td:none; --bgc:purple-600; --c:white;"  class="hover:shadow-lg">Large Button</button>

			</div>

		</div>

		<div style="--bgc:oklch(91.9% 0.016 262); --pl:24px; --pr:24px; --pt:48px; --pb:48px;" >

			<h2 style="--ta:center; --mb:48px;" >Medium Pill Buttons</h2>

			<div style="--d:flex; --fw:wrap; --jc:space-around;"  class="container mx-auto">

				<button style="--d:block; --mb:16px; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem; --weight:700; --radius:9999px; --td:none; --bgc:oklch(48.94% 0.19 142); --c:white;"  class="hover:shadow-md">Medium Button</button>
				<button style="--d:block; --mb:16px; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem; --weight:700; --radius:9999px; --td:none; --bgc:oklch(50.22% 0.21 27); --c:white;"  class="hover:shadow-md">Medium Button</button>
				<button style="--d:block; --mb:16px; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem; --weight:700; --radius:9999px; --td:none; --bgc:oklch(36.38% 0.13 264); --c:white;"  class="hover:shadow-md">Medium Button</button>
				<button style="--d:block; --mb:16px; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem; --weight:700; --radius:9999px; --td:none; --bgc:oklch(75.18% 0.2 99); --c:white;"  class="hover:shadow-md">Medium Button</button>
				<button style="--d:block; --mb:16px; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem; --weight:700; --radius:9999px; --td:none; --bgc:purple-600; --c:white;"  class="hover:shadow-md">Medium Button</button>

			</div>

		</div>

		<div style="--bgc:gray-100; --pl:24px; --pr:24px; --pt:48px; --pb:48px;" >

			<h2 style="--ta:center; --mb:48px;" >Small Pill Buttons</h2>

			<div style="--d:flex; --fw:wrap; --jc:space-around;"  class="container mx-auto">

				<button style="--d:block; --mb:16px; --pl:12px; --pr:12px; --pt:8px; --pb:8px; --size:0.75rem; --lh:1rem; --weight:700; --radius:9999px; --td:none; --bgc:oklch(48.94% 0.19 142); --c:white;"  class="hover:shadow">Small Button</button>
				<button style="--d:block; --mb:16px; --pl:12px; --pr:12px; --pt:8px; --pb:8px; --size:0.75rem; --lh:1rem; --weight:700; --radius:9999px; --td:none; --bgc:oklch(50.22% 0.21 27); --c:white;"  class="hover:shadow">Small Button</button>
				<button style="--d:block; --mb:16px; --pl:12px; --pr:12px; --pt:8px; --pb:8px; --size:0.75rem; --lh:1rem; --weight:700; --radius:9999px; --td:none; --bgc:oklch(36.38% 0.13 264); --c:white;"  class="hover:shadow">Small Button</button>
				<button style="--d:block; --mb:16px; --pl:12px; --pr:12px; --pt:8px; --pb:8px; --size:0.75rem; --lh:1rem; --weight:700; --radius:9999px; --td:none; --bgc:oklch(75.18% 0.2 99); --c:white;"  class="hover:shadow">Small Button</button>
				<button style="--d:block; --mb:16px; --pl:12px; --pr:12px; --pt:8px; --pb:8px; --size:0.75rem; --lh:1rem; --weight:700; --radius:9999px; --td:none; --bgc:purple-600; --c:white;"  class="hover:shadow">Small Button</button>

			</div>

		</div>

		<div style="--bgc:oklch(91.9% 0.016 262); --pl:24px; --pr:24px; --pt:48px; --pb:48px;" >

			<h2 style="--ta:center; --mb:48px;" >Large Rounded Buttons</h2>

			<div style="--d:flex; --fw:wrap; --jc:space-around;"  class="container mx-auto">

				<button style="--d:block; --mb:16px; --pl:24px; --pr:24px; --pt:16px; --pb:16px; --size:1.125rem; --lh:1.75rem; --weight:700; --radius:0.25rem; --td:none; --bgc:oklch(48.94% 0.19 142); --c:white;"  class="hover:shadow-lg hover:shadow-lg">Large Button</button>
				<button style="--d:block; --mb:16px; --pl:24px; --pr:24px; --pt:16px; --pb:16px; --size:1.125rem; --lh:1.75rem; --weight:700; --radius:0.25rem; --td:none; --bgc:oklch(50.22% 0.21 27); --c:white;"  class="hover:shadow-lg">Large Button</button>
				<button style="--d:block; --mb:16px; --pl:24px; --pr:24px; --pt:16px; --pb:16px; --size:1.125rem; --lh:1.75rem; --weight:700; --radius:0.25rem; --td:none; --bgc:oklch(36.38% 0.13 264); --c:white;"  class="hover:shadow-lg">Large Button</button>
				<button style="--d:block; --mb:16px; --pl:24px; --pr:24px; --pt:16px; --pb:16px; --size:1.125rem; --lh:1.75rem; --weight:700; --radius:0.25rem; --td:none; --bgc:oklch(75.18% 0.2 99); --c:white;"  class="hover:shadow-lg">Large Button</button>
				<button style="--d:block; --mb:16px; --pl:24px; --pr:24px; --pt:16px; --pb:16px; --size:1.125rem; --lh:1.75rem; --weight:700; --radius:0.25rem; --td:none; --bgc:purple-600; --c:white;"  class="hover:shadow-lg">Large Button</button>

			</div>

		</div>

		<div style="--bgc:gray-100; --pl:24px; --pr:24px; --pt:48px; --pb:48px;" >

			<h2 style="--ta:center; --mb:48px;" >Medium Rounded Buttons</h2>

			<div style="--d:flex; --fw:wrap; --jc:space-around;"  class="container mx-auto">

				<button style="--d:block; --mb:16px; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem; --weight:700; --radius:0.25rem; --td:none; --bgc:oklch(48.94% 0.19 142); --c:white;"  class="hover:shadow-md">Medium Button</button>
				<button style="--d:block; --mb:16px; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem; --weight:700; --radius:0.25rem; --td:none; --bgc:oklch(50.22% 0.21 27); --c:white;"  class="hover:shadow-md">Medium Button</button>
				<button style="--d:block; --mb:16px; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem; --weight:700; --radius:0.25rem; --td:none; --bgc:oklch(36.38% 0.13 264); --c:white;"  class="hover:shadow-md">Medium Button</button>
				<button style="--d:block; --mb:16px; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem; --weight:700; --radius:0.25rem; --td:none; --bgc:oklch(75.18% 0.2 99); --c:white;"  class="hover:shadow-md">Medium Button</button>
				<button style="--d:block; --mb:16px; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem; --weight:700; --radius:0.25rem; --td:none; --bgc:purple-600; --c:white;"  class="hover:shadow-md">Medium Button</button>

			</div>

		</div>

		<div style="--bgc:oklch(91.9% 0.016 262); --pl:24px; --pr:24px; --pt:48px; --pb:48px;" >

			<h2 style="--ta:center; --mb:48px;" >Small Rounded Buttons</h2>

			<div style="--d:flex; --fw:wrap; --jc:space-around;"  class="container mx-auto">

				<button style="--d:block; --mb:16px; --pl:12px; --pr:12px; --pt:8px; --pb:8px; --size:0.75rem; --lh:1rem; --weight:700; --radius:0.25rem; --td:none; --bgc:oklch(48.94% 0.19 142); --c:white;"  class="hover:shadow">Small Button</button>
				<button style="--d:block; --mb:16px; --pl:12px; --pr:12px; --pt:8px; --pb:8px; --size:0.75rem; --lh:1rem; --weight:700; --radius:0.25rem; --td:none; --bgc:oklch(50.22% 0.21 27); --c:white;"  class="hover:shadow">Small Button</button>
				<button style="--d:block; --mb:16px; --pl:12px; --pr:12px; --pt:8px; --pb:8px; --size:0.75rem; --lh:1rem; --weight:700; --radius:0.25rem; --td:none; --bgc:oklch(36.38% 0.13 264); --c:white;"  class="hover:shadow">Small Button</button>
				<button style="--d:block; --mb:16px; --pl:12px; --pr:12px; --pt:8px; --pb:8px; --size:0.75rem; --lh:1rem; --weight:700; --radius:0.25rem; --td:none; --bgc:oklch(75.18% 0.2 99); --c:white;"  class="hover:shadow">Small Button</button>
				<button style="--d:block; --mb:16px; --pl:12px; --pr:12px; --pt:8px; --pb:8px; --size:0.75rem; --lh:1rem; --weight:700; --radius:0.25rem; --td:none; --bgc:purple-600; --c:white;"  class="hover:shadow">Small Button</button>

			</div>

		</div>


	</body>
</html>
