<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://startr.style/style.css">


		<title>Fullscreen Template</title>

	</head>
	<body style="--ff:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; --weight:100;" >

		<div style="--w:100%; --h:100vh; --pos:relative; --c:white;" >
			<img style="--pos:absolute; --top:0; --left:0; --w:100%; --h:100%; --objf:cover;" src="https://images.unsplash.com/photo-1438109491414-7198515b166b?w=1800"  />

			<header style="--z:10; --pos:relative; --maxw:72rem; --pl:24px; --pr:24px; --pt:32px; --pb:32px; --d:flex; --jc:space-between; --ai:center;"  class="mx-auto">
				
				<a style="--size:1.25rem; --lh:1.75rem;" href="#" class="tracking-wider">fullscreen</a>
				
				<ul style="--d:none; --d-md:flex; --tt:uppercase; --size:0.875rem; --lh:1.25rem; --c:gray-500;" >
					<li>
						<a style="--c:white;" href="#">Home</a>
					</li>
					<li style="--ml:24px;" >
						<a href="#">About</a>
					</li>
					<li style="--ml:24px;" >
						<a href="#">Blog</a>
					</li>
					<li style="--ml:24px;" >
						<a href="#">Contact</a>
					</li>
				</ul>

			</header>

			<div style="--pos:absolute; --top:0; --left:0; --w:100%; --h:100%; --d:flex; --jc:center; --ai:center; --c:center; --pl:48px; --pr:48px;" >
				<div>
					<h1 style="--size:1.875rem; --lh:2.25rem; --size-md:3.75rem; --lh-md:1; --mb:64px;"  class="leading-tight">Duis aute irure dolor, <br style="--d:none; --d-md:block;" />reprehenderit in voluptate.</h1>
					<a style="--bw:1px; --bc:white; --pt:16px; --pb:16px; --pl:32px; --pr:32px;" href="#" class="hover:bg-white hover:text-black">Get started</a>
				</div>
			</div>

		</div>



		<div style="--pt:96px; --pb:96px; --pl:24px; --pr:24px;" >
			
			<div style="--maxw:72rem; --mb:48px;"  class="mx-auto">
				
				<h2 style="--c:center; --size:1.5rem; --lh:2rem; --size-md:3rem; --lh-md:1; --maxw:48rem; --c:gray-800; --mb:48px;"  class="mx-auto leading-tight">Uniting fresh design and clean code to create beautiful websites.</h2>


				<p style="--mb:24px; --c:gray-600; --maxw:32rem; --c:center;"  class="mx-auto leading-relaxed">Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>


				<p style="--c:gray-600; --maxw:32rem; --c:center;"  class="mx-auto leading-relaxed">For more photography check our <a style="--c:black;" href="#">Instagram</a></p>

			</div>



			<div style="--maxw:64rem; --d:flex; --fw:wrap; --ai:flex-start;"  class="mx-auto">
				
				<div style="--w:100%; --w-md:50%; --p:16px; --mb:48px;" >
					<img style="--d:block; --w:100%; --h:auto; --mb:48px;" src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?w=800"  />
					<a style="--d:block; --size:1.5rem; --lh:2rem; --c:black; --c:center; --mb:24px;" href="#">About Us</a>
					<p style="--mb:24px; --c:gray-600; --c:center; --size:0.875rem; --lh:1.25rem;"  class="leading-relaxed">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
					<a style="--d:block; --c:black; --c:center;" href="#">Read more</a>
				</div>
				
				<div style="--w:100%; --w-md:50%; --p:16px; --mb:48px;" >
					<img style="--d:block; --w:100%; --h:auto; --mb:48px;" src="https://images.unsplash.com/photo-1523712999610-f77fbcfc3843?w=800"  />
					<a style="--d:block; --size:1.5rem; --lh:2rem; --c:black; --c:center; --mb:24px;" href="#">What's New?</a>
					<p style="--mb:24px; --c:gray-600; --c:center; --size:0.875rem; --lh:1.25rem;"  class="leading-relaxed">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
					<a style="--d:block; --c:black; --c:center;" href="#">Read more</a>
				</div>

			</div>

		</div>


		<div style="--bgc:gray-900; --c:gray-100; --c:center; --d:flex; --jc:center; --pl:24px; --pr:24px; --pt:48px; --pb:48px;" >
			
			<a style="--ml:24px; --mr:24px;" href="#" class="hover:text-gray-600">123 Address</a>
			<a style="--ml:24px; --mr:24px;" href="#" class="hover:text-gray-600">0800 123 456</a>
			<a style="--ml:24px; --mr:24px;" href="#" class="hover:text-gray-600">my@email.com</a>

		</div>


	</body>
</html>
