<!DOCTYPE html>
<html>
<head>
	<title>Lifestyle Blog</title>

	<!-- styles -->
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700&family=Playfair+Display:wght@100;200;300;400;500;600;700&family=Overpass:wght@200;300;400;600;700&display=swap" rel="stylesheet">
	<style>
		/* We reccomend adding these styles to your tailwind config or global stylesheet. */
		.font-display {
			font-family: 'Playfair Display', serif;
		}
		.font-heading {
			font-family: 'Fira Sans Condensed', sans-serif;
		}
		.font-sans {
			font-family: 'Overpass', sans-serif;
		}
	</style>

	<link rel="stylesheet" href="https://startr.style/style.css"></head>
<section style="--ff:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, " UI', Roboto, 'Helvetica Neue', Arial, sans-serif; --bgc:white;" class="antialiased">

	<div style="--h:96px; --z:10; --pos:relative; --pl:24px; --pr:24px; --d:grid; --gtc:repeat(3, 1fr);"  class="container mx-auto">

		<div style="--d:flex; --ai:center;" >
			<!-- menu button -->
			<button>
				<svg style="--w:32px; --h:32px; --c:white;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
			</button>
		</div>

		<div style="--d:flex; --ai:center; --jc:center;" >
			<a href="#">
				<!-- logo -->
				<svg style="--h:96px; --w:auto; --c:white;" viewBox='0 0 177.778 100' class="fill-current"><path d='M31.941,62.825h25.65V37.175H31.941ZM52.654,47.532h-5.42v-5.42h5.42Zm-15.777-5.42H42.3V52.468H52.654v5.42H36.877Zm37.417-4.937A12.825,12.825,0,1,0,87.119,50,12.84,12.84,0,0,0,74.294,37.175Zm0,20.713A7.888,7.888,0,1,1,82.182,50,7.9,7.9,0,0,1,74.294,57.888Zm58.719-20.713A12.825,12.825,0,1,0,145.837,50,12.84,12.84,0,0,0,133.013,37.175Zm0,20.713A7.888,7.888,0,1,1,140.9,50,7.9,7.9,0,0,1,133.013,57.888Zm-29.36-20.713A12.825,12.825,0,1,0,116.478,50,12.84,12.84,0,0,0,103.653,37.175Zm0,20.713a7.888,7.888,0,1,1,7.488-10.356h-7.488v4.936h7.488A7.9,7.9,0,0,1,103.653,57.888Z'/></svg>
			</a>
		</div>

		<div style="--d:flex; --ai:center; --jc:end;" >
			<!-- add to cart button -->
			<button>
				<svg style="--w:32px; --h:32px; --c:white;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
			</button>
		</div>
	</div>

	<div style="--pos:relative; --w:100%; --pt:48px; --pb:48px; --pl:48px; --pr:48px; --bgc:yellow-900;"  class="-mt-24">
		<!-- hero section -->
		<div style="--pos:relative; --z:10; --ta:center; --pt:192px; --pb:192px;" >
			<h1 style="--c:white; --ta:center; --size:3.75rem; --lh:1; --weight:700; --mb:48px;"  class="font-display">A ride for every lifestyle</h1>
			<a style="--d:inline-block; --bgc:yellow-800; --c:white; --tt:uppercase; --size:0.875rem; --lh:1.25rem; --pl:32px; --pr:32px; --pt:16px; --pb:16px;" href="#" class="tracking-widest font-heading">Shop now</a>
		</div>

		<!-- hero links -->
		<div style="--pos:relative; --z:10; --maxw:56rem; --d:flex; --jc:space-between; --tt:uppercase; --c:white; --size:0.875rem; --lh:1.25rem;"  class="mx-auto font-heading tracking-widest">
			<a style="--bc:b; --bc:white;" href="#">Find out more</a>
			<a style="--bc:b; --bc:white;" href="#">Get in touch</a>
		</div>

		<!-- banner image -->
		<img style="--w:100%; --h:100%; --pos:absolute; --top:0; --right:0; --bottom:0; --left:0; --objf:cover; --op:0.7;" src="https://images.unsplash.com/photo-1490129375591-2658b3e2ee50?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2244&q=80"  />
	</div>

	<!-- featured section -->

	<div style="--d:grid; --gtc:repeat(2, 1fr);" >

		<div style="--bgc:white; --p:96px; --d:flex; --jc:end; --ai:center;" >
			<!-- featured image -->
			<img style="--maxw:28rem;" src="https://images.unsplash.com/photo-1501631259223-89d4e246ed23?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1960&q=80"  />
		</div>

		<div style="--bgc:gray-100; --p:96px; --d:flex; --jc:start; --ai:center;" >
			
			<!-- featured title & excerpt -->
			<div style="--maxw:28rem;" >
				<div style="--w:96px; --h:8px; --bgc:yellow-800; --mb:16px;" ></div>
				<h2 style="--weight:700; --size:2.25rem; --lh:2.5rem; --mb:24px;"  class="font-display">Speed: A jogging stroller that keeps up with you</h2>
				<p style="--weight:300; --c:gray-600; --mb:24px;"  class="leading-relaxed">The all new Speed model is designed with the active life in mind. Speed moves smoothly thanks to an all-wheel suspension, air-filled tires, and folds with ease due to a new ergonomic trigger release.</p>
				<a style="--d:inline-block; --bw:2px; --bc:yellow-800; --weight:300; --c:yellow-800; --size:0.875rem; --lh:1.25rem; --tt:uppercase; --pt:12px; --pb:12px; --pl:32px; --pr:32px;" href="#" class="tracking-widest hover:bg-yellow-800 hover:text-white">View model</a>
			</div>

		</div>

	</div>

	<img style="--w:100%; --h:100vh; --objf:cover;" src="https://images.unsplash.com/photo-1501901609772-df0848060b33?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"  />

	<div style="--maxw:36rem; --ta:center; --pt:128px; --pb:128px;"  class="mx-auto">
		<div style="--w:96px; --h:8px; --bgc:yellow-800; --mb:16px;"  class="mx-auto"></div>
		<h2 style="--weight:700; --size:3rem; --lh:1; --mb:24px;"  class="font-display">Stork means versatility</h2>
		<p style="--weight:300; --c:gray-600; --mb:24px;"  class="leading-relaxed">Our strollers are guaranteed to perform wherever your adventure takes you next.</p>
	</div>

	<div style="--d:grid; --gtc:repeat(3, 1fr); --bgc:black;" >
		<a style="--bgc:black; --pos:relative; --d:block; --d:flex; --ai:center; --jc:center; --h:72; --c:white; --tt:uppercase;" href="#" class="font-heading tracking-widest hover:opacity-75">
			<div style="--pos:relative; --z:10;" >Forest Trails</div>
			<img style="--pos:absolute; --top:0; --right:0; --bottom:0; --left:0; --w:100%; --h:100%; --objf:cover; --op:0.5;" src="https://images.unsplash.com/photo-1449495169669-7b118f960251?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80"  />
		</a>
		<a style="--bgc:black; --pos:relative; --d:block; --d:flex; --ai:center; --jc:center; --h:72; --c:white; --tt:uppercase;" href="#" class="font-heading tracking-widest hover:opacity-75">
			<div style="--pos:relative; --z:10;" >City Streets</div>
			<img style="--pos:absolute; --top:0; --right:0; --bottom:0; --left:0; --w:100%; --h:100%; --objf:cover; --op:0.5;" src="https://images.unsplash.com/uploads/1411070807173e4d6762d/f84a3a01?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"  />
		</a>
		<a style="--bgc:black; --pos:relative; --d:block; --d:flex; --ai:center; --jc:center; --h:72; --c:white; --tt:uppercase;" href="#" class="font-heading tracking-widest hover:opacity-75">
			<div style="--pos:relative; --z:10;" >Sandy Beaches</div>
			<img style="--pos:absolute; --top:0; --right:0; --bottom:0; --left:0; --w:100%; --h:100%; --objf:cover; --op:0.5;" src="https://images.unsplash.com/photo-1528855275993-0f4a23fedd62?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"  />
		</a>
	</div>

	<div style="--d:grid; --gtc:repeat(2, 1fr);" >
		<div style="--bgc:gray-100; --p:96px; --d:flex; --jc:start; --ai:center;" >
			<div style="--maxw:28rem;" >
				<div style="--w:96px; --h:8px; --bgc:yellow-800; --mb:16px;" ></div>
				<h2 style="--weight:700; --size:2.25rem; --lh:2.5rem; --mb:24px;"  class="font-display">Our sustainability promise</h2>
				<p style="--weight:300; --c:gray-600; --mb:24px;"  class="leading-relaxed">At Stork we know you care deeply about the earth that our children will inherit. That’s why we only use materials that are manufactured with sustainability in mind.</p>
				<a style="--d:inline-block; --bw:2px; --bc:yellow-800; --weight:300; --c:yellow-800; --size:0.875rem; --lh:1.25rem; --tt:uppercase; --pt:12px; --pb:12px; --pl:32px; --pr:32px;" href="#" class="tracking-widest hover:bg-yellow-800 hover:text-white">Learn more</a>
			</div>
		</div>
		<div style="--bgc:white; --p:96px; --d:flex; --jc:end; --ai:center;" >
			<img style="--maxw:28rem;" src="https://images.unsplash.com/photo-1521145239174-279dc2227166?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"  />
		</div>
	</div>

	<div style="--pos:relative; --w:100%; --pt:48px; --pb:48px; --pl:48px; --pr:48px;" >
		<div style="--pos:relative; --z:10; --ta:center; --pt:96px; --pb:96px;" >
			<h1 style="--c:white; --ta:center; --size:3.75rem; --lh:1; --weight:700; --mb:24px;"  class="font-display">Endlessly customizable</h1>
			<p style="--c:white; --mb:40px; --weight:700; --size:1.125rem; --lh:1.75rem;" >Discover useful accessories for your Stork stroller that fit your unique needs.</p>
			<a style="--d:inline-block; --bgc:yellow-800; --c:white; --tt:uppercase; --size:0.875rem; --lh:1.25rem; --pl:32px; --pr:32px; --pt:16px; --pb:16px;" href="#" class="tracking-widest font-heading">View accessories</a>
		</div>

		<img style="--w:100%; --h:100%; --pos:absolute; --top:0; --right:0; --bottom:0; --left:0; --objf:cover;" src="https://images.unsplash.com/photo-1503516459261-40c66117780a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1949&q=80"  />
	</div>

	<div style="--bgc:gray-900; --c:white; --c:opacity-40; --weight:600; --tt:uppercase; --size:0.75rem; --lh:1rem; --bgc:opacity-80; --pl:48px; --pr:48px;"  class="tracking-widest">
		<div style="--d:grid; --gtc:repeat(4, 1fr); --pt:96px; --pb:96px;"  class="container mx-auto">
			<div>
				<div style="--c:white; --op:0.5; --size:2.25rem; --lh:2.5rem;"  class="font-display">Impulse</div>				
			</div>
			<div>
				<div style="--c:white; --tt:uppercase; --size:0.875rem; --lh:1.25rem; --mb:24px;"  class="font-display tracking-widest">More Info</div>
				<a style="--d:block; --mb:16px;" href="#">Shop</a>
				<a style="--d:block; --mb:16px;" href="#">About</a>
				<a style="--d:block; --mb:16px;" href="#">Info</a>
				<a style="--d:block; --mb:16px;" href="#">FAQ</a>
			</div>
			<div>
				<div style="--c:white; --tt:uppercase; --size:0.875rem; --lh:1.25rem; --mb:24px;"  class="font-display tracking-widest">Helpful Links</div>
				<a style="--d:block; --mb:16px;" href="#">Shop</a>
				<a style="--d:block; --mb:16px;" href="#">About</a>
				<a style="--d:block; --mb:16px;" href="#">Info</a>
				<a style="--d:block; --mb:16px;" href="#">FAQ</a>
			</div>
			<div>
				<div style="--c:white; --tt:uppercase; --size:0.875rem; --lh:1.25rem; --mb:24px;"  class="font-display tracking-widest">Find out more</div>
				<a style="--d:block; --mb:16px;" href="#">Shop</a>
				<a style="--d:block; --mb:16px;" href="#">About</a>
				<a style="--d:block; --mb:16px;" href="#">Info</a>
				<a style="--d:block; --mb:16px;" href="#">FAQ</a>
			</div>
		</div>
		<div style="--size:0.875rem; --lh:1.25rem; --size-lg:1rem; --lh-lg:1.5rem; --ta:center; --weight:300; --tt:uppercase; --c:white; --op:0.75; --pb:96px;"  class="font-heading tracking-widest">
			©2021 design by novolio. images by unsplash
		</div>
	</div>

</body>
</html>
