<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://startr.style/style.css">


		<title>Mobilise Product Launch</title>

	</head>
	<body style="--bgc:white; --ff:ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;" >

		<header style="--d:flex; --fw:wrap; --ai:center; --jc:space-between; --pl:48px; --pr:48px; --h:128px; --pos:relative;"  class="-mb-32">

			<ul style="--fx:1; --d:flex; --jc:center; --jc-md:start;"  class="order-last md:order-first list-reset">
				<li>
					<a style="--size:0.875rem; --lh:1.25rem; --c:grey-darker; --td:none;" href="#" class="hover:text-black">Home</a>
				</li>
				<li style="--ml:32px;" >
					<a style="--size:0.875rem; --lh:1.25rem; --c:grey-darker; --td:none;" href="#" class="hover:text-black">About</a>
				</li>
				<li style="--ml:32px;" >
					<a style="--size:0.875rem; --lh:1.25rem; --c:grey-darker; --td:none;" href="#" class="hover:text-black">Contact</a>
				</li>
			</ul>
			
			<div style="--w:100%; --w-md:auto; --d:flex; --jc:center;" >
				<a style="--d:block; --c:center; --c:black; --size:1.125rem; --lh:1.75rem; --td:none;" href="#">
					<img style="--w:40px; --h:auto;" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xMyA5aDlsLTE0IDE1IDMtOWgtOWwxNC0xNS0zIDl6bS04LjY5OSA1aDguMDg2bC0xLjk4NyA1Ljk2MyA5LjI5OS05Ljk2M2gtOC4wODZsMS45ODctNS45NjMtOS4yOTkgOS45NjN6Ii8+PC9zdmc+" alt="Mobilise"  />
				</a>
			</div>

			<ul style="--fx:1; --d:flex; --jc:center; --jc-md:end;"  class="list-reset">
				<li style="--ml:32px; --d:none; --d-md:inline;" >
					<a style="--size:0.875rem; --lh:1.25rem; --weight:700; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --td:none; --c:white; --bgc:black;" href="#" class="hover:bg-gray-800">Subscribe now</a>
				</li>
			</ul>

		</header>

		<div style="--w:100%; --d:flex; --fw:wrap; --h-md:100vh; --pt:128px;" >
			<div style="--pt:24px; --pt-md:0; --w:100%; --fx-md:1;"  class="md:order-last">
				<img style="--w:100%; --h:256px; --h-md:100%; --objf:cover;" src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?w=1400"  />
			</div>
			<div style="--w:100%; --p:24px; --pb:48px; --p-md:48px; --d:flex; --jc:center; --ai:center; --pos:relative;"  class="md:w-5/12">
				<div style="--w:100%; --pos:relative; --c:center; --pt:48px; --pb:48px; --pl:48px; --pr:48px; --p-md:0; --c-md:right;" >
					<h1 style="--size:3rem; --lh:1; --mb:16px;" >Mobilise Wrist</h1>
					<h2 style="--size:1.5rem; --lh:2rem; --mb:16px;" >Ut vel nunc a est auctor lacinia.</h2>
					<p style="--c:oklch(47.318% 0.036 262);"  class="leading-loose tracking-wide">Curabitur convallis aliquet dignissim. Nulla at risus feugiat, egestas lacus at, pharetra risus. Aliquam vitae semper leo, quis ornare massa. Aenean dignissim facilisis imperdiet.</p>
				</div>
			</div>
		</div>


		<div style="--w:100%; --pt:128px; --pb:96px; --pl:48px; --pr:48px; --c:center; --bgc:black; --c:white;"  class="-mt-6">
			<h2 style="--size:2.25rem; --lh:2.5rem; --mb:24px;" >Subscribe to join us</h2>
			<p style="--ff:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; --size:0.875rem; --lh:1.25rem; --maxw:36rem; --mb:16px;"  class="mx-auto leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			<p style="--ff:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; --size:0.875rem; --lh:1.25rem; --maxw:36rem;"  class="mx-auto leading-loose">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. </p>

			<form action="" method="POST">

				<div style="--pt:40px; --mb:24px; --d:flex; --jc:center; --ai:flex-end; --c:left;" >

					<div style="--p:16px;" >
						<input style="--ff:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; --size:0.875rem; --lh:1.25rem; --pl:8px; --pr:8px; --h:40px; --bgc:transparent; --bc:b-2;" type="text" name="" placeholder="First name"  />
					</div>

					<div style="--p:16px;" >
						<input style="--ff:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; --size:0.875rem; --lh:1.25rem; --pl:8px; --pr:8px; --h:40px; --bgc:transparent; --bc:b-2;" type="email" name="" placeholder="Email address"  />
					</div>

				</div>

				<button style="--bgc:white; --c:black; --pl:24px; --pr:24px; --pt:12px; --pb:12px; --d:flex; --ai:center; --jc:center; --size:0.875rem; --lh:1.25rem;"  class="mx-auto hover:bg-gray-400">Subscribe</button>

			</form>
		
		</div>


		<div style="--pt:96px; --pb:96px; --pl:48px; --pr:48px;" >
		
			<div style="--d:flex; --fw:wrap;"  class="container mx-auto">
				<div style="--w:100%; --w-md:50%; --pr-md:16px; --d:flex; --fw:wrap; --mb:48px; --mb-md:0;" >
					<div style="--p:8px; --w:50%;" >
						<img style="--w:100%; --h:256px; --objf:cover;" src="https://images.unsplash.com/photo-1523268755815-fe7c372a0349?w=800"  />
					</div>
					<div style="--p:8px; --w:50%;" >
						<img style="--w:100%; --h:256px; --objf:cover;" src="https://images.unsplash.com/photo-1491336477066-31156b5e4f35?w=800"  />
					</div>
					<div style="--p:8px; --w:100%;" >
						<img style="--w:100%; --h:256px; --objf:cover;" src="https://images.unsplash.com/photo-1497382706140-605ee76b3b55?w=800"  />
					</div>
				</div>
				<div style="--w:100%; --w-md:50%; --pl-md:16px;" >
					<h2 style="--size:2.25rem; --lh:2.5rem; --mb:40px;" >Phasellus ante turpis,<br />fermentum non</h2>
					<div style="--maxw:32rem;" >
						<p style="--mb:24px; --c:oklch(47.318% 0.036 262);" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis vulputate tellus. Etiam vel placerat lorem, eget ornare nibh. Ut in commodo magna. Quisque vitae fermentum quam. Mauris venenatis id enim at porta. Etiam molestie lorem non odio hendrerit.</p>
						<p style="--mb:24px; --c:oklch(47.318% 0.036 262);" >At vulputate ligula consequat. Morbi sollicitudin mollis erat, in tempus nisi. Quisque vehicula vitae sem in ornare. Vivamus id odio ligula.</p>
						<p style="--mb:40px; --c:oklch(47.318% 0.036 262);" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis vulputate tellus. Etiam vel placerat lorem, eget ornare nibh. Ut in commodo magna. Quisque vitae fermentum quam. Mauris venenatis id enim at porta. Etiam molestie lorem non odio hendrerit.</p>
						<a style="--d:inline-block; --bgc:black; --c:white; --pl:24px; --pr:24px; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem;" href="#" class="hover:bg-gray-800">Find out more</a>

					</div>
				</div>
			</div>

		</div>

		<div style="--bgc:black; --c:white; --c:center; --size:0.875rem; --lh:1.25rem; --pt:48px; --pb:48px;" >
			<p>Copyright &copy; 2019 Mobilise</p>
		</div>

	</body>
</html>
