<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://startr.style/style.css">


		<title>Sign in</title>

	</head>
	<body style="--bgc:gray-100;" >

		
		<div style="--minh:100vh; --w:100%; --p:24px; --d:flex; --jc:center; --ai:center;" >
			
    		<div style="--w:100%; --maxw:20rem;" >

    			<div style="--bgc:white; --bw:1px; --p:32px; --shadow:0 1px 3px 0 rgb(0,0,0,0.1), 0 1px 2px 0 rgb(0,0,0,0.06); --radius:0.25rem; --w:100%; --mb:24px;" >

		            <h1 style="--mb:24px; --size:1.125rem; --lh:1.75rem; --c:gray-900; --weight:100;" >Login to your account</h1>

		            <form method="POST" action="/login">

		                <fieldset style="--mb:16px;" >
		                    <label style="--d:block; --size:0.875rem; --lh:1.25rem; --c:gray-900; --mb:8px;" >Email address</label>
		                    <input style="--d:block; --w:100%; --radius:0.125rem; --bw:1px; --bgc:white; --pt:8px; --pb:8px; --pl:12px; --pr:12px; --size:0.875rem; --lh:1.25rem;" id="email" type="email"  name="email" required autofocus>
		                </fieldset>

		                <fieldset style="--mb:16px;" >
		                    <div style="--w:100%; --d:flex; --jc:space-between; --ai:center;" >
		                        <label style="--d:block; --size:0.875rem; --lh:1.25rem; --c:gray-900; --mb:8px;" for="password">Password</label>
		                        <a style="--size:0.75rem; --lh:1rem; --weight:100; --c:blue; --td:none;" href="#" class="hover:underline">
		                            Forgotten password?
		                        </a>
		                    </div>
		                    <input style="--d:block; --w:100%; --radius:0.125rem; --bw:1px; --bgc:white; --pt:8px; --pb:8px; --pl:12px; --pr:12px; --size:0.875rem; --lh:1.25rem;" id="password" type="password"  name="password" required>
		                </fieldset>

		                <div style="--pt:4px; --pb:20px; --size:0.875rem; --lh:1.25rem; --c:gray-darker; --weight:100;" >
		                    <label><input style="--mr:4px;" type="checkbox" name="remember" id="remember"> Remember me</label>
		                </div>


		                <button style="--d:block; --w:100%; --bgc:oklch(36.38% 0.13 264); --c:white; --radius:0.125rem; --pt:12px; --pb:12px; --size:0.875rem; --lh:1.25rem;" type="submit" class="tracking-wide">
		                    Sign in
		                </button> 
		            </form> 
		        </div>

        		<p style="--ta:center; --size:0.875rem; --lh:1.25rem; --c:gray-600; --weight:100;" >Don't have an account yet? <a style="--c:blue-500; --td:none;" href="/register" class="hover:underline">Sign up</a></p>
        	</div>

		</div>


	</body>
</html>
