<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://startr.style/style.css">


		<title>Masonry</title>

	</head>
	<body>

    <h1 style="--pl:48px; --pr:48px; --pt:96px; --pb:96px; --ta:center; --ff:ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif; --size:2.25rem; --lh:2.5rem;" >Horizontal Masonry Layout</h1>

    <div style="--pl:48px; --pr:48px; --d:flex; --fw:wrap; --gg:16px;" >
      <img style="--w:auto; --h:72; --fg:1; --objf:cover;" src="https://images.unsplash.com/photo-1457129962825-adcaea7406c3?auto=format&fit=crop&w=800&q=80" />
      <img style="--w:auto; --h:72; --fg:1; --objf:cover;" src="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?auto=format&fit=crop&w=800&q=80" />
      <img style="--w:auto; --h:72; --fg:1; --objf:cover;" src="https://images.unsplash.com/photo-1532274402911-5a369e4c4bb5?auto=format&fit=crop&w=800&q=80" />
      <img style="--w:auto; --h:72; --fg:1; --objf:cover;" src="https://images.unsplash.com/photo-1500817487388-039e623edc21?auto=format&fit=crop&w=800&q=80" />
      <img style="--w:auto; --h:72; --fg:1; --objf:cover;" src="https://images.unsplash.com/photo-1413752362258-7af2a667b590?auto=format&fit=crop&w=800&q=80" />
      <img style="--w:auto; --h:72; --fg:1; --objf:cover;" src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=800&q=80" />
      <img style="--w:auto; --h:72; --fg:1; --objf:cover;" src="https://images.unsplash.com/photo-1559827291-72ee739d0d9a?auto=format&fit=crop&w=800&q=80" />
    </div>

	</body>
</html>
