<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://startr.style/style.css">


		<title>Photography Showcase</title>

	</head>
	<body style="--bgc:white;" >

		<header style="--bgc:white; --pos:relative; --z:40; --w:100%; --h:96px; --pl:48px; --pr:48px; --d:flex; --jc:space-between; --ai:center;" >
			
			<div style="--w:100%; --w-lg:auto;" >
				<aTimes style="--ff:ui-serif, Georgia, Cambria, " New Roman', Times, serif; --size:1.5rem; --lh:2rem; --d:block; --ta:center; --c:black; --size:1.125rem; --lh:1.75rem; --td:none;" href="#" class="hover:text-gray-600">r/m</a>
			</div>

			<div style="--fx:1; --d:flex; --jc:center; --jc-lg:end;" >
				<a style="--d:block; --w:16px; --h:8px; --bc:t-2; --bc:b-2; --bc:black;" href="#" class="hover:border-gray-600"></a>
			</div>

		</header>

		<div style="--h-lg:100vh; --pt-lg:96px; --w:100%; --d:flex; --fw:wrap;"  class="-mt-24">
			
			<div style="--h:100vh; --w:100%; --h-lg:100%; --w-lg:50%; --d:flex; --jc:center; --ai:center;" >
				
				<div style="--maxw:36rem; --pl:48px; --pr:48px; --pl-lg:128px; --pr-lg:128px;" >
					
					<pSegoe style="--ff:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, " UI', Roboto, 'Helvetica Neue', Arial, sans-serif; --size:0.75rem; --lh:1rem; --c:gray-600; --tt:uppercase; --mb:16px;" class="tracking-wide">Reaction</p>

					<h1Times style="--size:1.5rem; --lh:2rem; --size-md:2.25rem; --lh-md:2.5rem; --mb:32px; --ff:ui-serif, Georgia, Cambria, " New Roman', Times, serif;" class="leading-normal">Only photograph what you love.</h1>

					<div style="--ml:48px;"  class="-mr-12">

						<p style="--pr:24px; --pr-md:0; --size:0.75rem; --lh:1rem; --c:gray-900; --mb:32px;"  class="leading-normal md:leading-loose">To me, photography is an art of observation. It’s about finding something interesting an ordinary place... I’ve found it has little to do with the things you see and everything to do with the way you see them.</p>

						<p style="--size:0.75rem; --lh:1rem; --c:black; --tt:uppercase;" >Discover <span style="--d:inline-block; --h:4px; --w:96px; --ml:16px; --bc:t; --bc:gray-light;" ></span></p>

					</div>

				</div>

			</div>


			<div style="--h:100vh; --w:100%; --h-lg:100%; --w-lg:50%; --pos:relative;" >
				
				<divhttps style="--w:100%; --h:100%; --bgc:cover; --bgc:no-repeat; --bgc:center; background-image: url(" ://images.unsplash.com/photo-1482784160316-6eb046863ece?w=1400');"></div>

				<div style="--pos:absolute; --pt:24px; --pb:24px; --pl:16px; --pr:16px; --bgc:white; --d:flex; --jc:space-around; --w:128px;"  class="pin-l pin-b">
					<a style="--size:0.75rem; --lh:1rem; --c:gray-600er; --td:none;" href="#" class="hover:text-gray-900">&larr;</a>
					<span style="--size:0.75rem; --lh:1rem; --c:gray-600er;" >1/3</span>
					<a style="--size:0.75rem; --lh:1rem; --c:gray-600er; --td:none;" href="#" class="hover:text-gray-900">&rarr;</a>
				</div>

			</div>

		</div>

		<footerTimes style="--pos-lg:fixed; --c:gray-600; --ff:ui-serif, Georgia, Cambria, " New Roman', Times, serif; --p:48px; --size:0.75rem; --lh:1rem; --ta:center; --c-lg:left;" class="pin-b pin-l">copyright &copy; 2019 r/m</footer>


	</body>
</html>
