<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://startr.style/style.css">


		<title>Exultant Collective</title>

	</head>
	<body style="--bgc:white; --ff:ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;" >

		<header style="--d:flex; --fw:wrap; --ai:center; --jc:space-between; --pl:48px; --pr:48px; --h:128px; --pos:relative;"  class="-mb-32">
			
			<div style="--w:100%; --w-md:auto;" >
				<a style="--d:block; --c:center; --c:black; --size:1.125rem; --lh:1.75rem; --td:none;" href="#">Exultant Collective</a>
			</div>

			<ul style="--fx:1; --d:flex; --jc:center; --jc-md:end;"  class="list-reset">
				<li>
					<a style="--size:0.875rem; --lh:1.25rem; --c:gray-800; --td:none;" href="#" class="hover:text-black">Home</a>
				</li>
				<li style="--ml:32px;" >
					<a style="--size:0.875rem; --lh:1.25rem; --c:gray-800; --td:none;" href="#" class="hover:text-black">Products</a>
				</li>
				<li style="--ml:32px;" >
					<a style="--size:0.875rem; --lh:1.25rem; --c:gray-800; --td:none;" href="#" class="hover:text-black">Cart (2)</a>
				</li>
				<li style="--ml:32px; --d:none; --d-md:inline;" >
					<a style="--size:0.875rem; --lh:1.25rem; --weight:700; --pl:16px; --pr:16px; --pt:12px; --pb:12px; --td:none; --c:white; --bgc:black;" href="#" class="hover:bg-gray-800">Checkout</a>
				</li>
			</ul>

		</header>

		<div style="--h:100vh; --w:100%; --pl:24px; --pr:24px; --pl-md:48px; --pr-md:48px; --pb:48px; --pt:128px; --d:flex; --fw:wrap; --jc:space-between;" >

			<divhttps style="--bgc:gray-lighter; --h-md:100%; --w:100%; --fx-md:1; --bgc:cover; --bgc:center; --bgc:no-repeat; background-image: url(" ://images.unsplash.com/photo-1474376962954-d8a681cc53b2?w=1200')"></div>

			<div style="--bgc:orange-100; --c:orange-900; --h-md:100%; --w:100%; --fx-md:1; --d:flex; --jc:center; --ai:center;" >
				<div style="--pl:32px; --pr:32px; --pl-md:64px; --pr-md:64px;" >
					<h1 style="--size:1.125rem; --lh:1.75rem; --size-md:1.875rem; --lh-md:2.25rem; --mb:24px;" >Exultant - Collective Classic Backpack</h1>
					<p style="--mb:24px;" ><span style="--weight:700;" >&pound;799.99</span> | <span style="--op:0.75; --td:line-through;" >&pound;899.99</span></p>
					<p style="--mb:24px; --size:0.875rem; --lh:1.25rem; --size-md:1rem; --lh-md:1.5rem;"  class="leading-normal">Lorem ipsum dolor sit amet, ne nec tation nonumy salutatus. Ne malis audire mnesarchum qui. Et praesent mnesarchum appellantur usu. Eu hinc ullum percipitur eos. <a style="--c:black; --size:0.875rem; --lh:1.25rem;" href="#more">Read More</a></p>
					<a style="--d:block; --d-md:inline-block; --c:center; --td:none; --c:orange-900; --pl:20px; --pr:20px; --pt:12px; --pb:12px; --bw:2px; --bc:orange-900;" href="#" class="hover:bg-orange-900 hover:text-orange-100">Add to cart</a>
				</div>
			</div>

		</div>

		<div style="--p:48px;" id="more">
			
			<h2 style="--size:1.5rem; --lh:2rem; --size-md:2.25rem; --lh-md:2.5rem; --maxw:42rem; --c:center; --c:gray-900; --mb:48px;"  class="mx-auto leading-normal">Product Description</h2>

			<p style="--size:0.875rem; --lh:1.25rem; --size-md:1rem; --lh-md:1.5rem; --maxw:36rem; --c:center; --c:gray-800; --mb:32px;"  class="leading-normal mx-auto">Dico modus appellantur eum at, atqui dicunt ut sea, debet congue munere ne usu. Error laudem quaestio te eum, ad cum nihil corrumpit adolescens, no eirmod mediocrem expetenda quo. In per solet iuvaret. Id audire commune cotidieque mei. Quo diceret patrioque ut, ex his animal forensibus maiestatis. No iisque maiorum invenire his, eos ex omnis facer delicata.</p>

			<p style="--size:0.875rem; --lh:1.25rem; --size-md:1rem; --lh-md:1.5rem; --maxw:36rem; --c:center; --c:gray-800;"  class="leading-normal mx-auto">Ad sed liber nihil, pri liber omnium principes id, at est argumentum constituam temporibus. Solum munere per ad. Rationibus repudiandae nec in. Quo eu verear suscipit abhorreant. Dicam fastidii nam eu, quo recusabo periculis dissentiunt id.</p>

		</div>

		<div style="--pl:24px; --pr:24px; --pt:48px; --pb:48px; --pl-md:48px; --pr-md:48px;" >
			<div style="--size:0.875rem; --lh:1.25rem; --w:100%; --p:48px; --c:center; --bgc:blue-100; --c:blue-900;" >Copyright &copy; 2019 Exultant Collective</div>
		</div>


	</body>
</html>
