<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://startr.style/style.css">

		<title>Single Element Responsive Menu</title>
		<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
	</head>
	<body style="--ff:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;" >
		<div style="--bgc:oklch(91.9% 0.016 262); --c:gray-800; --pos:relative; --z:10; --pl:24px; --pr:24px;" >
			<div style="--h:80px; --pt:16px; --pb:16px; --d:flex; --ai:center; --jc:center;"  class="container mx-auto">
				<!-- Menu -->
				<div style="--z:10; --fx:1;" x-data="{ open: false }">
					<div : class="{ 'flex' : open, 'hidden' : open === false }">
						<a href="#">Home</a>
						<a href="#">Products</a>
					</div>
					<button @click="open = true" type="button" : class="{ 'hidden' : open, 'block' : !open }">＝</button>
					<button @click="open = false" type="button" : class="{ 'block' : open, 'hidden' : !open }">╳</button>
				</div>
				<!-- / Menu -->
				<a style="--fx:1; --d:flex; --ai:center; --jc:center; --d:block; --h:100%;" href="/">
					<svg style="--h:80px; --w:auto;" id='logoipsum'
						xmlns='http://www.w3.org/2000/svg' viewBox='0 0 177.778 100'>
						<path d='M31.941,62.825h25.65V37.175H31.941ZM52.654,47.532h-5.42v-5.42h5.42Zm-15.777-5.42H42.3V52.468H52.654v5.42H36.877Zm37.417-4.937A12.825,12.825,0,1,0,87.119,50,12.84,12.84,0,0,0,74.294,37.175Zm0,20.713A7.888,7.888,0,1,1,82.182,50,7.9,7.9,0,0,1,74.294,57.888Zm58.719-20.713A12.825,12.825,0,1,0,145.837,50,12.84,12.84,0,0,0,133.013,37.175Zm0,20.713A7.888,7.888,0,1,1,140.9,50,7.9,7.9,0,0,1,133.013,57.888Zm-29.36-20.713A12.825,12.825,0,1,0,116.478,50,12.84,12.84,0,0,0,103.653,37.175Zm0,20.713a7.888,7.888,0,1,1,7.488-10.356h-7.488v4.936h7.488A7.9,7.9,0,0,1,103.653,57.888Z' fill='#394149'/>
					</svg>
				</a>
				<div style="--fx:1; --d:flex; --ai:center; --jc:end; --size:0.75rem; --lh:1rem; --tt:uppercase; --gg:16px;"  class="tracking-wider">
					<button style="--pos:relative;" type="button">
						<svg style="--w:24px; --h:24px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"></path>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<div style="--p:48px; --c:center; --c:gray-800;"  class="tracking-wide">
			<p style="--mb:12px;" >A responsive / mobile menu without the need for duplicating menu elements.</p>
			<p style="--weight:600; --size:0.875rem; --lh:1.25rem;" >Resize your browser to see it in action </p>
		</div>
	</body>
</html>
