<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://startr.style/style.css">


		<title>Shout Template</title>

	</head>
	<body style="--ff:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;" >

		<header style="--bgc:white;" >

			<div style="--p:32px; --d:flex; --fw:wrap; --ai:center; --jc:space-between;"  class="container mx-auto">
				<a style="--mb:24px; --mb-md:0; --w:100%; --ta:center; --c-md:left; --w-md:auto; --weight:900; --size:1.875rem; --lh:2.25rem; --c:black; --tt:uppercase;" href="/" class="font-display">Shout.</a>

				<ul style="--jc:center; --jc-md:end; --fx:1; --d:flex;"  class="list-reset">
					<li>
						<a style="--size:0.875rem; --lh:1.25rem; --c:grey-800; --td:none;" href="/about" class="hover:text-black">About us</a>
					</li>
					<li style="--ml:24px;" >
						<a style="--size:0.875rem; --lh:1.25rem; --c:grey-800; --td:none;" href="/products" class="hover:text-black">Products</a>
					</li>
					<li style="--ml:24px;" >
						<a style="--size:0.875rem; --lh:1.25rem; --bgc:yellow-400; --pt:12px; --pb:12px; --pl:24px; --pr:24px;" href="/contact">Contact</a>
					</li>
				</ul>
			</div>

		</header>

		<div style="--maxw:64rem; --p:32px; --pt:96px; --pb:96px; --d:flex; --jc:start; --ai:center;"  class="mx-auto">
			<div style="--fx:1;" >
				<h1 style="--weight:800; --size:3rem; --lh:1; --size-md:3.75rem; --lh-md:1; --mb:48px;"  class="font-display-italic italic leading-none">Introducing.</h1>
				<p style="--maxw:36rem;"  class="leading-loose">Nisl suscipit adipiscing bibendum est ultricies integer. Faucibus a pellentesque sit amet. Gravida quis blandit turpis cursus in hac habitasse platea.</p>
			</div>
			<div style="--d:none; --d-md:block; --w:224px;" >
				<a style="--ml:48px; --bgc:yellow-400; --pt:24px; --pb:24px; --pl:40px; --pr:40px;" href="/about">Learn more</a>
			</div>
		</div>

		<img style="--w:100%; --h:256px; --objf:cover;" src="https://images.unsplash.com/photo-1481456384069-0effc539ab7e?w=2000"  />


		<div style="--bgc:gray-100;" >
			<div style="--maxw:64rem; --p:32px; --pt:96px; --pb:96px; --d:flex; --fw:wrap; --jc:start; --ai:center;"  class="mx-auto">
				<div style="--fx:1;" >
					<h2 style="--weight:800; --size:3rem; --lh:1; --size-md:3.75rem; --lh-md:1; --mb:48px;"  class="font-display-italic italic leading-none">Enlighten.</h2>
				</div>
				<div style="--w:100%; --w-lg:72;" >
					<p style="--maxw:36rem;"  class="leading-loose">Viverra mauris in aliquam sem fringilla ut morbi tincidunt. Posuere ac ut consequat semper viverra nam libero justo. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada nunc. </p>
				</div>
			</div>
		</div>


		<div style="--maxw:64rem; --pt:80px; --p:32px; --d:flex; --jc:end;"  class="mx-auto">
			<h3 style="--weight:800; --size:3rem; --lh:1; --size-md:3.75rem; --lh-md:1; --mb:48px; --maxw:36rem;"  class="font-display-italic italic leading-none">Products.</h3>
		</div>


		<div style="--d:flex; --fw:wrap; --pb:80px;"  class="container mx-auto">

			<div style="--w:100%; --w-md:50%; --w-lg:33.333333%; --pl:24px; --pr:24px; --mb:48px;" >
				<a href="#">
					<img style="--w:100%; --h:256px; --objf:cover; --mb:24px;" src="https://images.unsplash.com/photo-1524010349062-860def6649c3?w=800"  />
				</a>
				<h3 style="--size:1.5rem; --lh:2rem; --tt:uppercase; --weight:800; --mb:8px;"  class="font-display tracking-widest">Oculous Trainer</h3>
				<p style="--size:0.75rem; --lh:1rem; --c:gray-500; --mb:16px;" >Eros in cursus turpis massa tincidunt dui ut ornare. Vestibulum morbi blandit cursus risus at ultrices mi. Augue ut lectus arcu bibendum at varius.</p>
				<a style="--d:inline-block; --bw:2px; --bc:black; --pt:12px; --pb:12px; --pl:32px; --pr:32px; --tt:uppercase; --weight:100; --size:0.75rem; --lh:1rem;" href="/products/#digital-defender" class="font-display tracking-wide hover:bg-yellow-400 hover:border-yellow-400">Learn more</a>
			</div>

			<div style="--w:100%; --w-md:50%; --w-lg:33.333333%; --pl:24px; --pr:24px; --mb:48px;" >
				<a href="#">
					<img style="--w:100%; --h:256px; --objf:cover; --mb:24px;" src="https://images.unsplash.com/photo-1491637639811-60e2756cc1c7?w=800"  />
				</a>
				<h3 style="--size:1.5rem; --lh:2rem; --tt:uppercase; --weight:800; --mb:8px;"  class="font-display tracking-widest">Vinta Backpack</h3>
				<p style="--size:0.75rem; --lh:1rem; --c:gray-500; --mb:16px;" >Eros in cursus turpis massa tincidunt dui ut ornare. Vestibulum morbi blandit cursus risus at ultrices mi. Augue ut lectus arcu bibendum at varius.</p>
				<a style="--d:inline-block; --bw:2px; --bc:black; --pt:12px; --pb:12px; --pl:32px; --pr:32px; --tt:uppercase; --weight:100; --size:0.75rem; --lh:1rem;" href="/products/#digital-defender" class="font-display tracking-wide hover:bg-yellow-400 hover:border-yellow-400">Learn more</a>
			</div>

			<div style="--w:100%; --w-md:50%; --w-lg:33.333333%; --pl:24px; --pr:24px; --mb:48px;" >
				<a href="#">
					<img style="--w:100%; --h:256px; --objf:cover; --mb:24px;" src="https://images.unsplash.com/photo-1469210537992-30c8c8abef12?w=800"  />
				</a>
				<h3 style="--size:1.5rem; --lh:2rem; --tt:uppercase; --weight:800; --mb:8px;"  class="font-display tracking-widest">Leica Camera</h3>
				<p style="--size:0.75rem; --lh:1rem; --c:gray-500; --mb:16px;" >Eros in cursus turpis massa tincidunt dui ut ornare. Vestibulum morbi blandit cursus risus at ultrices mi. Augue ut lectus arcu bibendum at varius.</p>
				<a style="--d:inline-block; --bw:2px; --bc:black; --pt:12px; --pb:12px; --pl:32px; --pr:32px; --tt:uppercase; --weight:100; --size:0.75rem; --lh:1rem;" href="/products/#digital-defender" class="font-display tracking-wide hover:bg-yellow-400 hover:border-yellow-400">Learn more</a>
			</div>
		
		</div>

		<div style="--bgc:black; --c:white; --ta:center; --size:0.875rem; --lh:1.25rem; --pt:48px; --pb:48px;" >
			<p>Copyright &copy; 2019 Shout.</p>
		</div>

	</body>
</html>
