<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://startr.style/style.css">


		<script src="https://kit.fontawesome.com/bba4017977.js"></script>

		<title>Uncover</title>

	</head>
	<body style="--ff:ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif; --bgc:white;" >

		<div style="--w:100%; --h:100vh; --pos:relative; --p:64px;" >

			<header style="--pos:relative; --z:20; --w:100%; --d:flex; --jc:space-between; --ai:center; --h:80px;" >
				<a style="--size:1.875rem; --lh:2.25rem; --c:gray-100;" href="#" class="leading-tight">Un-<br />cover</a>

				<ul style="--d:flex; --size:0.875rem; --lh:1.25rem; --tt:lowercase;"  class="italic">
					<li>
						<a href="#">Home</a>
					</li>
					<li style="--ml:16px;" >
						<a href="#">About</a>
					</li>
					<li style="--ml:16px;" >
						<a href="#">Services</a>
					</li>
					<li style="--ml:16px;" >
						<a href="#">Contact</a>
					</li>
				</ul>
			</header>

			<div style="--pos:relative; --z:20; --d:flex; --fw:wrap; --h:100%; --pt:128px;"  class="-mt-20">
				
				<div style="--w:100%; --w-md:50%; --h:100%;" >
					<img style="--w:100%; --h:100%; --objf:cover;" src="https://images.unsplash.com/photo-1514315384763-ba401779410f?w=1400"  />
				</div>

				<div style="--w:100%; --w-md:50%; --p:40px; --d:flex; --jc:center; --ai:center;" >
					
					<div style="--maxw:20rem;" >
						<h1 style="--size:3.75rem; --lh:1; --mb:16px;"  class="leading-none">Welcome</h1>
						<p style="--mb:32px; --size:0.875rem; --lh:1.25rem;"  class="leading-relaxed">
							Ad fugiat in dolore velit fugiat mollit dolore eu sunt tempor anim reprehenderit. Ad fugiat in dolore velit fugiat mollit dolore eu sunt tempor anim reprehenderit.
						</p>
						<a style="--bgc:gray-900; --c:white; --tt:uppercase; --ff:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; --size:0.75rem; --lh:1rem; --pl:16px; --pr:16px; --pt:12px; --pb:12px;" href="#">Learn more <i style="--ml:4px;"  class="fa fa-chevron-right"></i></a>
					</div>

				</div>

			</div>

			<div style="--z:10; --w:50%; --h:100%; --bgc:gray-900; --pos:absolute; --top:0; --left:0;"  class="-ml-20"></div>

			<div style="--z:10; --w:4px; --h:256px; --bgc:gray-100; --pos:absolute; --bottom:0; --left:0; --ml:20px;" ></div>
			
		</div>	



		<div style="--w:100%; --pt:160px; --pb:160px; --ta:center; --d:flex; --ai:center; --jc:center; --bgc:gray-100;" >
			<h2 style="--size:2.25rem; --lh:2.5rem; --maxw:42rem;"  class="leading-tight">In dolore fugiat laborum fugiat aliquip velit in nisi commodo culpa minim.</h2>
		</div>	



		<div style="--pos:relative; --z:20; --d:flex; --jc:center; --ai:center; --fw:wrap; --h:100vh; --of:hidden;" >

			<div style="--pos:relative; --z:20; --w:100%; --d:flex; --fw:wrap; --jc:space-around; --maxw:56rem;" >
				
				<div style="--w:100%; --w-md:256px;" >
					<div style="--pos:relative; --mb:40px;" >
						<img style="--w:256px; --h:256px; --objf:cover;" src="https://images.unsplash.com/photo-1499914485622-a88fac536970?w=640"  />

						<div style="--pos:absolute; --bottom:0; --left:0; --w:100%; --d:flex; --jc:center; --ai:flex-start;" >
							<div style="--w:4px; --h:64px; --bgc:gray-900;"  class="-mb-6"></div>
						</div>
					</div>

					<h3Segoe style="--size:0.75rem; --lh:1rem; --tt:uppercase; --ta:center; --ff:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, " UI', Roboto, 'Helvetica Neue', Arial, sans-serif;" class="tracking-tighter">Pinterest Management</h3>
				</div>
				
				<div style="--w:100%; --w-md:256px; --mt-md:64px;" >
					<div style="--pos:relative; --mb:40px;" >
						<img style="--w:256px; --h:256px; --objf:cover;" src="https://images.unsplash.com/photo-1462078563783-650e23af549d?w=640"  />

						<div style="--pos:absolute; --bottom:0; --left:0; --w:100%; --d:flex; --jc:center; --ai:flex-start;" >
							<div style="--w:4px; --h:64px; --bgc:gray-900;"  class="-mb-6"></div>
						</div>
					</div>

					<h3Segoe style="--size:0.75rem; --lh:1rem; --tt:uppercase; --ta:center; --ff:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, " UI', Roboto, 'Helvetica Neue', Arial, sans-serif;" class="tracking-tighter">Instagram Strategy</h3>
				</div>
				
				<div style="--w:100%; --w-md:256px; --mt-md:128px;" >
					<div style="--pos:relative; --mb:40px;" >
						<img style="--w:256px; --h:256px; --objf:cover;" src="https://images.unsplash.com/photo-1553531580-652231dae097?w=640"  />

						<div style="--pos:absolute; --bottom:0; --left:0; --w:100%; --d:flex; --jc:center; --ai:flex-start;" >
							<div style="--w:4px; --h:64px; --bgc:gray-900;"  class="-mb-6"></div>
						</div>
					</div>

					<h3Segoe style="--size:0.75rem; --lh:1rem; --tt:uppercase; --ta:center; --ff:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, " UI', Roboto, 'Helvetica Neue', Arial, sans-serif;" class="tracking-tighter">Brand Design</h3>
				</div>

			</div>

			<div style="--z:10; --w:50%; --h:100%; --bgc:gray-400; --pos:absolute; --top:0; --right:0;"  class="-mr-20"></div>

			<div style="--z:10; --w:4px; --h:256px; --bgc:gray-100; --pos:absolute; --bottom:0; --right:0; --mr:20px;" ></div>

		</div>	



		<div style="--w:100%; --pt:160px; --pb:160px;" >
			

			<div style="--d:flex; --fw:wrap; --maxw:48rem;"  class="mx-auto">

				<div style="--pr:24px;"  class="w-3/12">

					<h2 style="--size:3rem; --lh:1; --c:gray-900; --tt:lowercase; --c:right; --weight:700;"  class="leading-tight">About<br />us</h2>

				</div>

				<div  class="w-9/12">
					
					<p style="--op:0.75; --mb:32px;"  class="leading-relaxed">Cupidatat non sed exercitation deserunt nisi dolor in magna ullamco aute commodo labore laborum consequat laboris ut minim ad in non anim. Cupidatat non sed exercitation deserunt nisi dolor in magna ullamco aute commodo labore.</p>
					<a style="--bgc:gray-900; --c:white; --tt:uppercase; --ff:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; --size:0.75rem; --lh:1rem; --pl:16px; --pr:16px; --pt:12px; --pb:12px;" href="#">Learn more <i style="--ml:4px;"  class="fa fa-chevron-right"></i></a>

				</div>

			</div>


		</div>



		<div style="--w:100%; --pt:96px; --pb:96px; --pos:relative;" >
			
			<div style="--bgc:oklch(82.58% 0.015 262); --maxw:48rem; --ta:center; --pos:relative; --z:20; --pt:24px; --pb:24px;"  class="mx-auto">
				<h3 style="--size:1.5rem; --lh:2rem; --mb:16px;" >Subscribe</h3>
				<p style="--size:0.875rem; --lh:1.25rem; --mb:24px;" >Enim commodo nostrud in sunt nulla cillum tempor.</p>

				<form style="--d:flex; --w:100%; --maxw:20rem;"  class="mx-auto">
					<input style="--h:48px; --fx:1; --pt:8px; --pb:8px; --pl:16px; --pr:16px;" type=""  placeholder="Email address" />
					<button style="--h:48px; --w:96px; --bgc:gray-900; --c:white; --size:0.875rem; --lh:1.25rem; --tt:uppercase; --ml:8px;" >Sign up</button>
				</form>
			</div>

			<img style="--pos:absolute; --top:0; --left:0; --w:100%; --h:100%; --objf:cover; --z:10;" src="https://images.unsplash.com/photo-1554412664-6a4d8f640b3b?w=1800"  />

		</div>



		<div style="--w:100%; --pt:128px; --pb:128px; --pl:96px; --pr:96px; --d:flex; --fw:wrap; --jc:space-around; --pos:relative;" >
			
			<img style="--w:256px; --h:256px; --objf:cover; --mb:48px; --mb-md:0;" src="https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?w=640"  />
			<img style="--w:256px; --h:256px; --objf:cover; --mb:48px; --mb-md:0;" src="https://images.unsplash.com/photo-1533525801715-1f3764669187?w=640"  />
			<img style="--w:256px; --h:256px; --objf:cover; --mb:48px; --mb-md:0;" src="https://images.unsplash.com/photo-1521335751419-603f61523713?w=640"  />
			<img style="--w:256px; --h:256px; --objf:cover;" src="https://images.unsplash.com/photo-1495564103921-67412af57da3?w=640"  />

			<h4 style="--size:3.75rem; --lh:1; --c:gray-800; --weight:700; --pos:absolute; --top:0; --left:0; --mt:48px; --ml:80px;"  class="tracking-tighter">insta</h4>
			<h4 style="--size:3.75rem; --lh:1; --c:gray-800; --weight:700; --pos:absolute; --bottom:0; --right:0; --mb:64px; --mr:80px;"  class="tracking-tighter">gram</h4>

		</div>


		<div style="--bgc:gray-900; --w:100%; --pt:80px; --pb:80px; --pl:96px; --pr:96px; --ta:center; --c:gray-100;" >
			<p>&copy; Copyright 2019 | Built by Digizu</p>
		</div>

	</body>
</html>
